<!DOCTYPE html>
<html>

<head>
  <title>Sommeil</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= favicon_link_tag('night-icon.png') %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body data-turbolinks="false">
  <% if flash[:alert] %>
  <div class="row">
    <div class="flash col s12 m12 light-blue accent-1">
      <%= flash[:alert] %>
    </div>
  </div>
  <% end %>
  <div class="wrapper">
    <nav class="transparent col s12 m12 z-depth-0">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo light-blue-text text-accent-1">Sommeil</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if user_signed_in? %>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="material-icons">exit_to_app</i>
            <% end %>
          </li>
          <li>
            <%= link_to new_user_sleep_path(current_user.id) do %>
            <i class="material-icons">brightness_3</i>
            <% end %>
          </li>
          <% else %>
          <li>
            <%= link_to new_user_session_path do %>
            <i class="material-icons">person</i>
            <% end %>
          </li>
          <li>
            <%= link_to new_user_registration_path do %>
            <i class="material-icons">person_add</i>
            <% end %>
          </li>
          <% end %>
        </ul>
      </div>
    </nav>
    <%= yield %>
    <% if user_signed_in? %>
    <% unless request.path.include?("new") %>
    <div class="col s3">
      <div class="fixed-action-btn">
        <%= link_to new_user_sleep_path(current_user.id), class: "btn-floating btn-large waves-effect waves-light blue right" do %>
        <i class="material-icons">brightness_3</i>
        <% end %>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</body>

</html>