<!DOCTYPE html>
<html>
  <head>
    <title>Sommeil</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>

  <body>
    <nav class="light-blue accent-">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Sommeil</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if user_signed_in? %>
          <li><%= link_to "SignOut", destroy_user_session_path, method: :delete %></li>
          <li><%= link_to "MyPage", user_path(current_user) %></li>
          <li><%= link_to "New", new_article_path %></li>
          <% else %>
          <li><%= link_to "SignIn", new_user_session_path %></li>
          <li><%= link_to "SignUp", new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
